<form (ngSubmit)="submit()" #registerForm="ngForm" novalidate>
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
  <div class="form-group"> 
    <label for="name"><b>First Name</b></label>
    <input type="text" placeholder="First Name" id="name" 
      name="firstName" 
      required
      minlength="3"
      #firstNameVar="ngModel"
      [(ngModel)]="profile.firstName"
       >
      <span class="form-text text-danger" *ngIf="(firstNameVar.touched || firstNameVar.dirty) && firstNameVar.errors">
        <span *ngIf="firstNameVar.errors.required">First name is required</span>
        <span *ngIf="firstNameVar.errors.minlength">First name must be longer than 3 characters</span>
      </span>
  </div>     
  
  <div class="form-group" >
    <label for="lastname"><b>Last Name</b></label>
    <input type="text" placeholder="Last Name" id="lastname" 
      name="lastName" 
      required 
      minlength="3"
      #lastNameVar="ngModel"
      [(ngModel)]="profile.lastName" >
      <span class="form-text text-danger" *ngIf="(lastNameVar.touched || lastNameVar.dirty) && lastNameVar.errors">
          <span *ngIf="lastNameVar.errors.required">Last name is required</span>
          <span *ngIf="lastNameVar.errors.minlength">Last name must be longer than 3 characters</span>
        </span>
  </div>

  <div class="form-group">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Username" id="username" 
      name="username" 
      required
      minlength="4"
      maxlength="20"
      #usernameVar="ngModel"
      [(ngModel)]="profile.username" >
      <span class="form-text text-danger" *ngIf="(usernameVar.touched || usernameVar.dirty) && usernameVar.errors">
          <span *ngIf="usernameVar.errors.required">Username is required</span>
          <span *ngIf="usernameVar.errors.minlength">Username must be longer than 4 characters</span>
      </span> 
  </div>

  <div class="form-group">
    <label for="email"><b>Email</b></label>
    <input type="text" id="email" placeholder="Enter Email" 
      name="email" 
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      #emailVar="ngModel" 
      [(ngModel)]="profile.email" >
      <span class="form-text text-danger" *ngIf="(emailVar.touched || emailVar.dirty) && emailVar.errors">
          <span *ngIf="emailVar.errors.required">E-mail is required</span>
          <span *ngIf="emailVar.errors.pattern">You must enter valid e-mail address</span>
      </span> 

  </div>

  <div class="form-group">
    <label for="password"><b>Password</b></label>
    <input type="password" id="password" placeholder="Enter Password" 
      name="password" 
      required
      minlength="5"
      #passwordVar="ngModel"
      [(ngModel)]="profile.password" >
    <span class="form-text text-danger" *ngIf="(passwordVar.touched || passwordVar.dirty) && passwordVar.errors">
          <span *ngIf="passwordVar.errors.required">Password is required</span>
          <span *ngIf="passwordVar.errors.minlength">Password must be longer than 5 characters</span>
    </span> 

    </div>

    <button type="submit" class="registerbtn" [disabled]="!registerForm.valid" >Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
  </div>
</form>