<form (ngSubmit)="submit()" #loginForm="ngForm">
  <div class="container">
    <h1>Login</h1>
    <p>Please fill in this form to log in on your account.</p>
    <hr>

    
    

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="First Name" id="username" 
      name="username" 
      required
      minlength="4"
      maxlength="15"
      #usernameVar="ngModel"
      [(ngModel)]="profile.username" >

    
    <label for="password"><b>Password</b></label>
    <input type="password" id="password" placeholder="Enter Password" 
      name="password" 
      required
      minlength="5"
      #passwordVar="ngModel"
      [(ngModel)]="profile.password" >

    <button type="submit" class="registerbtn" [disabled]="!loginForm.valid">Login</button>
  </div>

  <div class="container signin">
    <p>Don't have account??? <a routerLink="/register">Register</a>.</p>
  </div>
</form>